<mat-toolbar color="primary" role="heading" style="position: fixed; top: 0; left: 0; right: 0; z-index: 2;">
  <h3>ToLeDo</h3>
  <span class="example-spacer"></span>
  <button *ngIf="!isConnected" mat-button (click)="openMetamaskDialog()">connect to wallet <mat-icon>account_balance_wallet</mat-icon></button>
  <mat-chip-list *ngIf="isConnected">
    <mat-chip (click)="reward(1)">{{ tokens | number }} TLDT</mat-chip>
    <mat-chip >0x6545...4648 <mat-icon>account_balance_wallet</mat-icon></mat-chip>
  </mat-chip-list>
  <button (click)="openProfileDialog()" *ngIf="isConnected" mat-icon-button><mat-icon>account_circle</mat-icon></button>
</mat-toolbar>

<div style="display: flex; justify-content: center; margin-top: 64px;">
  <img src="assets/logo.svg" style="width: 50%;"/> 
</div>
<div style="display: flex; justify-content: center;  margin-bottom: 10em;">
  <h2 style="color: #ffffff">Reclaim your Domain.</h2>
</div>
<div style="display: flex; justify-content: center;">
  <h1 style="color: #ffffff">Do you have an unused domain?</h1>
</div>

<div style="display: flex; justify-content: center;">
  <h1 style="color: #ffffff">- Yes? Why not use it for crypto currency?</h1>
</div>

<div style="display: flex; justify-content: center; margin-bottom: 5em;">
  <img src="assets/description.png"/>
</div>

<div style="background-color: #ffffff; padding: 2em 0 2em 0; margin-bottom: 5em;">
  <div style="display: flex; justify-content: space-around;">
    <h1 class="mat-display-2" style="color: #303030">But ... Why?</h1>
  </div>
  <div style="display: flex; justify-content: space-around; color: #303030">
    <div style="width: 30%; text-align: center; max-width: 340px;">
      <mat-icon style="font-size: 6em; width: 1em;">sentiment_very_satisfied</mat-icon>
      <h1>For Fun</h1>
      <p>Post content over all websites in the hole ToLeDo Network at once!</p>
      <a mat-button href="http://localhost:4201" target="_blank">visit a ToLeDo page <mat-icon>link</mat-icon></a>
    </div>
    <div style="width: 30%; text-align: center; max-width: 340px;">
      <mat-icon style="font-size: 6em; width: 1em;">account_balance_wallet</mat-icon>
      <h1>For Crypto</h1>
      <p>Do nothing an get ToLeDo-Token. Send them into your wallet and use them like every other crypto currence.</p>
    </div>
  </div>
</div>

<div style="display: flex; align-items: center; flex-direction: column; margin-bottom: 2em;">
  <h1 class="mat-display-2" style="color: #ffffff;">ACTUAL SHARED CONTENT</h1>
  <img src="assets/shared-content.jpg" style="width: 30%;"/> 
</div>

<div *ngIf="!isConnected" style="display: flex; justify-content: center; color: #ffffff;">
  <p>Post your content to the network. Connect your wallet and you can start: </p>
  <button color="accent" mat-button (click)="openMetamaskDialog()">connect to wallet <mat-icon>account_balance_wallet</mat-icon></button>
</div>

<div *ngIf="isConnected" style="display: flex; justify-content: center; align-items: center; flex-direction: column; color:#ffffff">
  <div>
    <i>Next auction ends in:</i>
    <p id="countdown"></p>
    <mat-chip>{{ actualBet | number }} TLDT</mat-chip> is the highest bet right now! 
    <p *ngIf="highestBidder">YOU ARE THE HIGHEST BIDDER!!!</p>
  </div>
  <div style="display: flex;flex-direction: row; justify-content: around; align-items: center;">
    <div style="margin-right: 1em">
      <form class="dropzone" id="upload" action="/"></form>
    </div>
    <div>
      <mat-form-field appearance="outline" style="margin-right: 1em;">
        <mat-label>Your Bet</mat-label>
        <input #betToken matInput placeholder="Tokens">
        <span matSuffix>TLDT</span>
        <mat-hint>Bet an amount of your tokens to be the next who can share content!</mat-hint>
      </mat-form-field>
      <button color="primary" mat-raised-button mat-button (click)="bet(betToken.value)" [disabled]="highestBidder">Bet Token</button>
    </div>
  </div>
</div>

<div style="padding: 2em 0 2em 0; margin-bottom: 5em; margin-top: 5em;">
  <div style="display: flex; justify-content: space-around; background-color: #c2185b;">
    <h1 style="color:#ffffff; margin: 64px 0 64px;" class="mat-display-2">FAQ?</h1>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How can I get Token?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ol>
        <li>For your first connection with your wallet you will receive some tokens for free!</li>
        <li>After an auction we will split the offered token to all validated websites in our network. If you have entered a validated website at this moment, then you will receive a piece from the cake. :)</li>
      </ol>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Is there a control for the content?
        </mat-panel-title>
      </mat-expansion-panel-header>
        YES there is! Before a new content is shared we check it and prove that there is no illegal or offensive content. If there is content that we wont support than a random MEME will be posted. ;P
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Are there any costs?
        </mat-panel-title>
      </mat-expansion-panel-header>
        The only costs you will have is the gas fee if you want to transfer your TLDT to your Wallet. You need no money to collect Token.
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>
</div>

<br>
<br>
<br>
