<h2 mat-dialog-title>Your Profile</h2>
<mat-dialog-content class="mat-typography">
  <p>To get more ToLeDo Token add your Domain here</p>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Your Top Level Domain</mat-label>
      <input #email matInput placeholder="toledo.com">
    </mat-form-field>
    <button type="button" mat-button color="accent" (click)="saveDomain(email.value)">SAVE</button>
  </form>
  <br>
  <div style="display: flex; flex-direction: column;" *ngIf="data.domain">
    <p>Your connected Domain: <span style="color: #c2185b">{{data.domain}}</span></p> 
    <div style="display: flex; flex-direction: column;">
      
      <p>Paste this code to your website on the index.html to be part of the ToLeDo-Network like </p>
      <a mat-button href="http://localhost:4201" target="_blank">this page <mat-icon>link</mat-icon></a>

      <div class="example-script">
        <code>{{script}}</code>
        <button mat-button color="accent" (click)="copyCode()">Copy Code</button>
      </div>

      <div *ngIf="!data.validated" style="display: flex; flex-direction: row; height: 30px;">
        <mat-progress-spinner diameter="18" mode="indeterminate"></mat-progress-spinner>
        <i>wait for validation</i>
      </div>
      <div *ngIf="data.validated" style="display: flex; flex-direction: row;">
        <mat-icon color="accent">check_circle</mat-icon> 
        <i>Validated!</i>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data">CLOSE</button>
</mat-dialog-actions>