<!--The content below is only a placeholder and can be replaced.-->
<div style="display: flex; align-items: center; flex-direction: column; margin: 2em; color: #ffffff">
  <img src="assets/shared-content.jpg" style="width: 30%;"/> 
  <p>The content will change in</p>
  <p id="countdown"></p>
</div>
<mat-toolbar color="primary" role="heading" style="position: fixed; bottom: 0; left: 0; right: 0; z-index: 2;">
  <h3>ToLeDo</h3>
  <span class="example-spacer"></span>
  <i>This Domain is part of the</i><a mat-button href="http://localhost:4200" target="_blank">ToLeDo Network <mat-icon>link</mat-icon></a>
  <span class="example-spacer"></span>
</mat-toolbar>